---
import Section from '@/components/Section.astro'

import { basics } from '@cv'
const { summary } = basics
const formattedSummary = summary.replace(/\n/g, '<br />')
---

<Section title="Sobre mí">
    <p>
        { summary }
    </p>
</Section>